.root {
    margin: 0 auto;
    padding: 2em;
    max-width: 30em;
    height: calc(100vh - 64px);
}

.linkBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2em;
    height: 3em;
}

.buttonLink {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 4.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
.buttonLink:hover {
    border-color: #646cff;
}
.buttonLink:focus,
.buttonLink:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

.outlet {
    height: calc(100% - 64px - 48px - 24px);
}
